<div class="bg-[var(--background-clr-body)] flex items-center justify-center min-h-screen py-12 px-4 sm:px-6 lg:px-8">
  <div class="bg-[var(--background-clr-clear)] p-8 rounded-lg shadow-md w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-[var(--txt-clr-strong)]">
        Create your account
      </h2>
    </div>
    <% if resource.errors.full_messages.present? %>
      <div id="form-error-message" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold">Error!</strong>
        <span class="block sm:inline">Something went wrong. Please check the form and try again.</span>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { controller: "user--signup", action: "submit->user--signup#submit" }) do |f| %>
      <div class="rounded-md">
        <div class="mb-4">
          <%= f.label :username, class: "block text-sm font-medium text-[var(--txt-clr-default)] mb-1" %>
          <%= f.text_field :username, 
            autofocus: true, 
            autocomplete: "username",
            placeholder:"Choose a username", 
            value: flash[:signup_params]&.dig("username"),
            class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-[var(--border-clr-default)] bg-[var(--background-clr-thick)] placeholder-[var(--txt-clr-subtle)] text-[var(--txt-clr-strong)] focus:outline-none focus:ring-[var(--primary-500)] focus:border-[var(--primary-500)] focus:z-10 sm:text-sm transition duration-150 ease-in-out" %>
          <% if flash[:error]&.dig("username").present?%>
            <p class="mt-1 text-xs text-red-600"><%= flash[:error]["username"].first %></p>
          <% end %>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: "block text-sm font-medium text-[var(--txt-clr-default)] mb-1" %>
          <%= f.email_field :email, 
            autofocus: true, 
            autocomplete: "email",
            placeholder: "you@example.com", 
            value: flash[:signup_params]&.dig("email"),
            class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-[var(--border-clr-default)] bg-[var(--background-clr-thick)] placeholder-[var(--txt-clr-subtle)] text-[var(--txt-clr-strong)] focus:outline-none focus:ring-[var(--primary-500)] focus:border-[var(--primary-500)] focus:z-10 sm:text-sm transition duration-150 ease-in-out" %>
          <% if flash[:error]&.dig("email").present?%>
            <p class="mt-1 text-xs text-red-600"><%= flash[:error]["email"].first %></p>
          <% end %>
        </div>
        <div class="mb-4">
          <%= f.label :dob, class:"block text-sm font-medium text-[var(--txt-clr-default)] mb-1" %>
          <%= f.date_field :dob, 
            autofocus: true, 
            autocomplete: "dob", 
            max: Date.today, 
            value: flash[:signup_params]&.dig("dob"),
            class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-[var(--border-clr-default)] bg-[var(--background-clr-thick)] placeholder-[var(--txt-clr-subtle)] text-[var(--txt-clr-strong)] focus:outline-none focus:ring-[var(--primary-500)] focus:border-[var(--primary-500)] focus:z-10 sm:text-sm transition duration-150 ease-in-out" %>
          <% if flash[:error]&.dig("dob").present?%>
            <p class="mt-1 text-xs text-red-600"><%= flash[:error]["dob"].first %></p>
          <% end %>
        </div>
        <div class="mb-4">
          <%= f.label :password, class: "block text-sm font-medium text-[var(--txt-clr-default)] mb-1" %>
          <%= f.password_field :password, 
            autocomplete: "new-password",
            placeholder:"Create a password",
            value: flash[:signup_params]&.dig("password"),
            class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-[var(--border-clr-default)] bg-[var(--background-clr-thick)] placeholder-[var(--txt-clr-subtle)] text-[var(--txt-clr-strong)] focus:outline-none focus:ring-[var(--primary-500)] focus:border-[var(--primary-500)] focus:z-10 sm:text-sm transition duration-150 ease-in-out" %>
          <% if flash[:error]&.dig("password").present?%>
            <p class="mt-1 text-xs text-red-600"><%= flash[:error]["password"].first %></p>
          <% end %>
        </div>
        <div class="mb-6">
          <%= f.label :password_confirmation, class: "block text-sm font-medium text-[var(--txt-clr-default)] mb-1" %>
          <%= f.password_field :password_confirmation, 
            autocomplete: "new-password",
            placeholder: "Confirm your password", 
            value: flash[:signup_params]&.dig("password_confirmation"),
            class: "appearance-none rounded-md relative block w-full px-3 py-2 border border-[var(--border-clr-default)] bg-[var(--background-clr-thick)] placeholder-[var(--txt-clr-subtle)] text-[var(--txt-clr-strong)] focus:outline-none focus:ring-[var(--primary-500)] focus:border-[var(--primary-500)] focus:z-10 sm:text-sm transition duration-150 ease-in-out" %>
          <% if flash[:error]&.dig("password_confirmation").present?%>
            <p class="mt-1 text-xs text-red-600"><%= flash[:error]["password_confirmation"].first %></p>
          <% end %>
        </div>
      </div>
      <%= f.hidden_field :encrypted_key %>
      <%= f.hidden_field :public_key %>
      <div>
        <%= f.submit "Sign up", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-[var(--txt-clr-inverted)] bg-[var(--primary-600)] hover:bg-[var(--primary-700)] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[var(--primary-500)] transition duration-150 ease-in-out" %>
      </div>
    <% end %>
    <p class="mt-6 text-center text-sm text-[var(--txt-clr-default)]">
      Already have an account?
      <%= link_to "Sign in", new_session_path(resource_name), class: "font-medium text-[var(--primary-600)] hover:text-[var(--primary-500)] hover:underline" %>
    </p>
  </div>
</div>