<!--
comment - Contains the instance of a mocdel
-->

<div id="<%= comment.id %>" class="flex space-x-3">
  <div class="flex-shrink-0">
    <span class="inline-block h-8 w-8 overflow-hidden rounded-full bg-gray-100">
      <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24"><path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" /></svg>
    </span>
  </div>
  <div class="flex-grow">
    <div class="text-xs mb-1">
      <a href="#" class="font-semibold text-gray-800 hover:underline"><%= comment.commenter.username %></a>
      <span class="text-gray-500 mx-1">•</span>
      <span class="text-gray-500"><%= comment.created_at %></span>
    </div>
    <div class="text-sm text-gray-800 mb-2">
      <%= comment.comment %>
    </div>
    <div id="comment_reaction_<%=comment.id%>" class="flex items-center space-x-3 text-xs text-gray-500 font-medium <%=comment.current_user_reaction(current_user.id)%>">
      <%= link_to post_comment_reaction_path(post_id: params[:id], comment_id: comment.id, reaction:comment.current_user_reaction(current_user.id) == 'like' ? nil:"like"), id:"comment_like_button_#{comment.id}", class: "flex items-center space-x-1 hover:text-purple-600",remote: true, data: { turbo_method: "get" }  do %>
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z" clip-rule="evenodd"></path>
        </svg>
      <% end %>
      <span class="font-semibold text-gray-700 w-6 text-center"><%= (comment.likes - comment.dislikes) %></span>
      <%= link_to post_comment_reaction_path(post_id: params[:id], comment_id: comment.id, reaction:comment.current_user_reaction(current_user.id) == 'dislike' ? nil:"dislike"), id:"comment_dislike_button_#{comment.id}", class: "flex items-center space-x-1 hover:text-blue-600",remote: true, data: { turbo_method: "get" } do %>
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1.293-7.293l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 111.414-1.414L9 10.586V7a1 1 0 112 0v3.586l1.293-1.293a1 1 0 111.414 1.414z" clip-rule="evenodd"></path>
        </svg>
      <% end %>
      <button id="reply_comment_button_<%= comment.id %>" class="hover:underline">Reply</button>
    </div>
    <div class="flex items-center space-x-3 text-xs text-gray-500 font-medium">
        <%= form_with url: post_add_comment_path(post_id: params[:id]), model: Comment.new, remote: true, id: "reply_comment_form_#{comment.id}", html: { style: "display: none;" } do |form| %>
          <%= form.hidden_field :parent_id, value: comment.id %>
          <%= form.rich_text_area :comment, id:"id:comment_comment_#{comment.id}", class: "w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-purple-500 focus:border-purple-500 transition duration-150 ease-in-out text-sm" %>
          <div class="flex justify-end mt-2">
            <button id="cancel_reply_comment_form_<%= comment.id %>", class="bg-white hover:bg-grey-100 text-purple-600 hover:text-purple-700 py-2 px-4 transition duration-150 ease-in-out", type="button">Cancel</button>
            <%= form.submit "Post Comment", class: "bg-purple-600 hover:bg-purple-700 text-white text-sm font-semibold py-2 px-4 rounded-full transition duration-150 ease-in-out" %>
          </div>
        <% end %>
      </div>

    <% if comment.replies.any? %>
      <% comment.replies.each do |reply| %>
        <div class="comment-thread mt-4 space-y-4">
          <%= render partial: 'shared/comment', locals: { comment: reply } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  const reply_comment_button_<%= comment.id.gsub('-', '_') %> = document.getElementById("reply_comment_button_<%= comment.id %>");
  const reply_comment_form_<%= comment.id.gsub('-', '_') %> = document.getElementById("reply_comment_form_<%= comment.id %>");
  const cancel_reply_comment_form_<%= comment.id.gsub('-', '_') %> = document.getElementById("cancel_reply_comment_form_<%= comment.id %>");

  reply_comment_button_<%= comment.id.gsub('-', '_') %>.addEventListener("click", (event) => {
    reply_comment_button_<%= comment.id.gsub('-', '_') %>.style.display = "none";
    reply_comment_form_<%= comment.id.gsub('-', '_') %>.style.display = "block";
  });

  cancel_reply_comment_form_<%= comment.id.gsub('-', '_') %>.addEventListener("click", (event) => {
    reply_comment_button_<%= comment.id.gsub('-', '_') %>.style.display = "block";
    reply_comment_form_<%= comment.id.gsub('-', '_') %>.style.display = "none";
  });

  reply_comment_form_<%= comment.id.gsub('-', '_') %>.addEventListener("submit", (event) => {
    reply_comment_button_<%= comment.id.gsub('-', '_') %>.style.display = "block";
    reply_comment_form_<%= comment.id.gsub('-', '_') %>.style.display = "none";
  });
</script>
