<!--
params used here:
chat
current_user
-->
<div id="chat_<%=chat.id%>_seen_status" class="flex items-center mt-1" :class="<%= current_user.id == chat.user_id %> ? 'justify-end':'justify-start'" x-data="{ status: '' }", x-init="<%= chat.all_read? %> ? status = 'read' : status = 'delivered'">
  <p class="text-xs text-[var(--txt-clr-muted)] mr-1.5"><%=chat.created_at.strftime("%H:%M")%></p>
  <div x-show="<%= chat.user.id === current_user.id %>">
    <i x-show="status === 'sending'" class="fa-solid fa-clock-rotate-left text-[var(--txt-clr-muted)]"></i>
    <i x-show="status === 'sent'" class="fa-regular fa-circle text-[var(--txt-clr-muted)]"></i>
    <i x-show="status === 'delivered'" class="fa-solid fa-circle-check text-[var(--txt-clr-muted)]"></i>
    <i x-show="status === 'read'" class="fa-solid fa-circle-check text-[var(--link-clr)]"></i>
  </div>
</div>