<% if params[:page].present? %>
  <%= turbo_stream.prepend "chat_list_#{@group.id}" do %>
    <%= render partial: "chat_list", locals:{current_user: current_user, chats: @chats, page: @pagy} %>
  <% end %>
  <turbo-stream action="update" method="morph" target="fetch_chat_messages_<%= @group.id %>">
    <template>
      <% if @pagy.next %>
        <div data-url="<%= chat_path(id: @group.id, page: @pagy.next) %>" ></div>
      <% else %>
        <div data-eof="true"></div>
      <% end %>
    </template>
  </turbo-stream>
<% else %>
  <%= turbo_stream.update "active_chat_window" do %>
    <%= render partial: "active_chat_window", locals:{current_user: current_user, group: @group, chats: @chats, page: @pagy} %>
  <% end %>
<% end %>