<!DOCTYPE html>
<html class="theme-cyan">
  <head>
    <title>KarmaLoop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://ga.jspm.io/npm:cropperjs@1.5.13/dist/cropper.css", rel: "stylesheet" %>
    <%= yield :page_javascript %>
    <%= javascript_importmap_tags %>
    <script>
      function getThemeMode() {
        const theme = localStorage.getItem('dark_mode');
        const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        if (theme === 'dark' || (!theme && prefersDark)) {
          document.documentElement.classList.add('dark');
          document.documentElement.classList.remove('light');
        }
        else {
          document.documentElement.classList.add('light');
          document.documentElement.classList.remove('dark');
        }

        const siteTheme = localStorage.getItem('site_theme');
        if (siteTheme) {
          document.documentElement.classList.add(siteTheme);
        }
        else {
          document.documentElement.classList.add('purple');
        }
      }
      getThemeMode();
    </script>
  </head>
  <body class="full-screen" data-notification-sound-path="<%= asset_path('notification.wav') %>">
    <% if current_user.present? %>
      <%= turbo_stream_from "#{current_user&.id}error_notifications" %>
      <%= turbo_stream_from "ui_#{current_user.id}" %>
    <% end %>
    <div id="error-notifications">
    </div>
    <%= render 'layouts/flash' %>
    <div class="full-screen">
      <% if current_user %>
        <%= render "layouts/header" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
