<!DOCTYPE html>
<html>
  <head>
    <title>KarmaLoop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://ga.jspm.io/npm:cropperjs@1.5.13/dist/cropper.css", rel: "stylesheet" %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="full-screen">
    <%= turbo_stream_from "#{current_user&.id}error_notifications" %>
    <div id="error-notifications">
    </div>
    <div class="full-screen">
      <% if current_user %>
        <%= render "shared/header" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
